@charset "UTF-8";
/*
Theme Name: MiningTown
Theme URI: https://github.com/mkaz/miningtown
Author: Marcus Kazmierczak
Author URI: https://mkaz.blog/
Description:  The theme for mkaz.blog
Version: 1.1
License: GNU General Public License v2 or later
Text Domain: miningtown

MiningTown was forked from RedHill which is based on Underscores https://underscores.me/,
(C) 2012-2018 Automattic, Inc.  Underscores is distributed under the terms of
the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/**
  * Users CSS custom properties (aka. variables) instead of scss
  * No build step required.
  * No package.json required.
  * No node_moduels required.
  */

:root {
    --system-font: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --code-font-family: Hack, SFMono-Regular, Consolas, "Liberation Mono", Menlo, Inconsolata, "Courier New", monospace;
	--code-font-size: 0.8889rem;
	--main-font: "PT Serif", "Droid Serif", serif;
	--header-font: var(--system-font);
    --blockquote-font-family: "Droid Serif", Cambria, "Bitstream Charter", "Big Caslon", serif;

    --h1-size: 1.5555rem;
    --h2-size: 1.3889rem;
    --h3-size: 1.3333rem;
    --h4-size: 1.3333rem;
    --h5-size: 1.2222rem;
	--h6-size: 1.1111rem;

	--color-main: #333333;
    --color-link: #1565C0;
    --color-hover: red;
    --color-accent: #B71C1C;;
    --color-code: #8E24AA;

	--color-site: #0F4C81; /* Pantone Classic Blue */
	--color-footer: #FDD935;
}

html {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	font-family: var(--main-font);
	font-size: 18px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	font-size: 1rem;
	font-weight: normal;
	color: var(--color-main);
	text-align: left;
	border: 16px solid var(--color-site);
	padding: 0;
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #FFFFFF;
}

@media only screen and (max-width: 560px) {

	body {
		border: 2px solid var(--color-site);
	}
}

::selection {
	background-color: #FFF89E;
}

::-moz-selection {
	background-color: #FFF89E;
}

main {
	display: block;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: var(--code-font-family);
	font-size: 1em;
	overflow: scroll;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

code,
kbd,
samp {
	font-family: var(--code-font-family);
	font-size: var(--code-font-size);
	color: var(--color-code);

}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 1.0rem;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

[hidden] {
	display: none;
}

*, *::before, *::after {
	box-sizing: inherit;
}

/**
 * Links styles
 */

a {
	text-decoration: none;
	background-color: transparent;
	color: var(--color-link);
}

a:hover {
	color: var(--color-hover);
}

button,
a {
	cursor: pointer;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #333333;
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

/* Sized and Centered */
.site-main {
	max-width: 864px;
	padding: 64px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

@media only screen and (max-width: 864px) {
	.site-main {
		padding: 2.0rem;
	}
}

@media only screen and (max-width: 560px) {
	.site-main {
		padding: 1.0rem;
	}
}

.site-main {
	min-height: 60vh;
	padding-top: 0rem;
}

@media only screen and (max-width: 560px) {
	.site-main {
		padding-top: 1.0rem;
	}
}

.site-footer {
	width: 100%;
	margin: 32px 0 0 0;
	padding: 16px;
	background-color: #292930;
	color: #9c9ca4;
}

.entry-header,
.post-thumbnail,
.entry-content,
.entry-footer {
	margin-top: 0;
}

.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
    margin-top: 2.5rem;
    margin-bottom: 1.0rem;
}

blockquote {
	padding-left: 16px;
}

blockquote p {
	font-size: 1.0rem;
	letter-spacing: normal;
	line-height: 1.125;
}

blockquote cite,
blockquote footer {
	font-size: 0.8rem;
	letter-spacing: normal;
}

blockquote > * {
	margin-top: 16px;
	margin-bottom: 16px;
}

blockquote > *:first-child {
	margin-top: 0;
}

blockquote > *:last-child {
	margin-bottom: 0;
}

blockquote.alignleft, blockquote.alignright {
	padding-left: inherit;
}

blockquote.alignleft p, blockquote.alignright p {
	font-size: 1.44rem;
	max-width: inherit;
	width: inherit;
}

blockquote.alignleft cite,
blockquote.alignleft footer, blockquote.alignright cite,
blockquote.alignright footer {
	font-size: 0.69444rem;
	letter-spacing: normal;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #333333;
	border: 1px solid #DDDDDD;
	border-radius: 3px;
	padding: 4px;
	margin-right: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #333333;
	border-color: var(--color-accent);
}

select {
	border: 1px solid #DDDDDD;
}

textarea {
	width: 100%;
}

input[type=checkbox] + label {
	display: inline;
	margin-left: 0.5em;
	margin-right: 2em;
	line-height: 1em;
}

figcaption {
	color: #767676;
	font-size: 0.69444rem;
	margin-top: 8px;
	margin-bottom: 16px;
	text-align: center;
}

.alignleft figcaption,
.alignright figcaption {
	margin-bottom: 0;
}

/* WP Smiley */
.page-content .wp-smiley,
.entry-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed,
iframe,
object {
	max-width: 100%;
}

.wp-block-embed {
	margin: 2rem 0;
}

button,
.button,
input[type="submit"],
.wp-block-button__link,
.wp-block-file__button, .a8c-posts-list__view-all {
	line-height: 1;
	color: white;
	cursor: pointer;
	font-weight: 600;
	font-family: var(--system-font);
	font-size: 0.85rem;
	background-color: var(--color-accent);
	border-radius: 4px;
	border-width: 0;
	padding: 4px 8px;
}

button:before,
.button:before,
input[type="submit"]:before,
.wp-block-button__link:before,
.wp-block-file__button:before, .a8c-posts-list__view-all:before, button:after,
.button:after,
input[type="submit"]:after,
.wp-block-button__link:after,
.wp-block-file__button:after, .a8c-posts-list__view-all:after {
	content: '';
	display: block;
	height: 0;
	width: 0;
}

button:before,
.button:before,
input[type="submit"]:before,
.wp-block-button__link:before,
.wp-block-file__button:before, .a8c-posts-list__view-all:before {
	margin-bottom: -0.12em;
}

button:after,
.button:after,
input[type="submit"]:after,
.wp-block-button__link:after,
.wp-block-file__button:after, .a8c-posts-list__view-all:after {
	margin-top: -0.11em;
}

button:hover,
.button:hover,
input:hover[type="submit"],
.wp-block-button__link:hover,
.wp-block-file__button:hover, .a8c-posts-list__view-all:hover, button:focus,
.button:focus,
input:focus[type="submit"],
.wp-block-button__link:focus,
.wp-block-file__button:focus, .a8c-posts-list__view-all:focus, button.has-focus,
.has-focus.button,
input.has-focus[type="submit"],
.has-focus.wp-block-button__link,
.has-focus.wp-block-file__button, .has-focus.a8c-posts-list__view-all {
	color: white;
	background-color: red;
}

/**
 * Block Options
 */

.wp-block-code {
	font-family: var(--code-font-family);
	color: var(--color-code);
	font-size: var(--code-font-size);
	padding: 16px;
	border-color: #DDDDDD;
}

/* code syntax block */
.wp-block-code code[class*="language-"],
.wp-block-code pre[class*="language-"],
.wp-block-code pre code {
	font-family: var(--code-font-family);
	font-size: 0.8333rem;
}

.wp-block-code pre {
	font-family: var(--code-font-family);
	color: var(--color-code);
}

.alignfull {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.alignwide {
    max-width: 100vw;
    margin-left: -140px;
    margin-right: -140px;
}

@media only screen and (max-width: 960px) {
	.alignwide {
		margin-left: -64px;
		margin-right: -64px;
	}
}

@media only screen and (max-width: 560px) {
	.alignwide {
		margin-left: -16px;
		margin-right: -16px;
	}
}

h1, h1 a,
h2, h2 a,
h3, h3 a,
h4, h4 a,
h5, h5 a,
h6, h6 a {
	font-family: var(--header-font);
	font-weight: 700;
	color: var(--color-main);
	clear: both;
	margin: 0;
	padding: 0;
}

h1, .h1 {
	font-size: var(--h1-size);
	letter-spacing: normal;
	line-height: 1.125;
	margin: 0 0 0.67em 0;
}

h2, .h2 {
	font-size: var(--h2-size);
	letter-spacing: normal;
	line-height: 1.125;
}

h3, .h3 {
	font-size: var(--h3-size);
	letter-spacing: normal;
	line-height: 1.125;
}

h4, .h4 {
	font-size: var(--h4-size);
	letter-spacing: normal;
	line-height: 1.125;
}

h5, .h5 {
	font-size: var(--h5-size);
	letter-spacing: normal;
	line-height: 1.125;
}

h6, .h6 {
	font-size: var(--h6-size);
	letter-spacing: normal;
	line-height: 1.125;
}

.wp-block-image figcaption {
	color: #767676;
	font-size: 0.69444rem;
	margin-top: 8px;
	margin-bottom: 16px;
	text-align: center;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	width: auto;
}

ul,
ol {
	font-family: var(--system-font);
	margin: 0 0 0 16px;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 0 16px;
}

.wp-block-quote {
	margin: 32px auto;
	padding: 0 16px;
    max-width: 90%;
}

.wp-block-quote > * {
	margin-top: 16px;
	margin-bottom: 16px;
}

.wp-block-quote > *:first-child {
	margin-top: 0;
}

.wp-block-quote > *:last-child {
	margin-bottom: 0;
}

.wp-block-quote p {
	font-family: var(--blockquote-font-family);
	font-size: 1.0rem;
	letter-spacing: normal;
	line-height: 1.25;
    color: var(--color-accent);
}

.wp-block-quote .wp-block-quote__citation,
.wp-block-quote cite,
.wp-block-quote footer {
	color: #767676;
	font-size: 0.8rem;
	letter-spacing: normal;
}

.wp-block-quote[style*="text-align:right"], .wp-block-quote[style*="text-align: right"] {
	border-right-color: var(--color-accent);
}

.wp-block-quote.is-style-large, .wp-block-quote.is-large {
	/* Resetting margins to match _block-container.scss */
	margin-top: 32px;
	margin-bottom: 32px;
}

.wp-block-quote.is-style-large p, .wp-block-quote.is-large p {
	font-size: 2.0736rem;
	letter-spacing: normal;
	line-height: 1.125;
}

.wp-block-quote.is-style-large .wp-block-quote__citation,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer, .wp-block-quote.is-large .wp-block-quote__citation,
.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer {
	color: #767676;
	font-size: 0.8rem;
	letter-spacing: normal;
}

.wp-block-separator,
hr {
	border-bottom: 2px solid #DDDDDD;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.wp-block-separator.is-style-wide,
hr.is-style-wide {
	border-bottom-width: 2px;
}

.wp-block-separator.is-style-dots:before,
hr.is-style-dots:before {
	color: #DDDDDD;
	font-size: 1.728rem;
	letter-spacing: 0.8rem;
	padding-left: 0.8rem;
}

.wp-block-spacer {
	display: block;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

table,
.wp-block-table {
	width: 100%;
	min-width: 240px;
	border-collapse: collapse;
    font-size: 0.8888rem;
	border-bottom: 1px solid;
	margin-bottom: 2.0rem;
}

table th,
.wp-block-table th {
	font-family: var(--system-font);
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.wp-block-table tr:last-of-type td,
table tr:last-of-type td {
	padding-bottom: 16px;
}

table td,
table th,
.wp-block-table td,
.wp-block-table th {
	padding: 8px;
	word-break: break-all;
}

.wp-block-video figcaption {
	color: #767676;
	font-size: 0.69444rem;
	margin-top: 8px;
	margin-bottom: 16px;
	text-align: center;
}

* > figure > video {
	max-width: unset;
	width: 100%;
	vertical-align: middle;
}

/* Text Alignments */
.alignleft {
	/*rtl:ignore*/
	text-align: left;
	/*rtl:ignore*/
	float: left;
	/*rtl:ignore*/
	margin-right: 16px;
	margin-top: 0;
	margin-bottom: 32px;
}

.aligncenter {
	clear: both;
	float: none;
	text-align: center;
}

.alignright {
	/*rtl:ignore*/
	float: right;
	/*rtl:ignore*/
	margin-left: 16px;
	margin-top: 0;
	margin-bottom: 32px;
}

.is-small-text,
.has-small-font-size {
	font-size: 0.8rem;
}

.is-regular-text,
.has-regular-font-size,
.has-normal-font-size,
.has-medium-font-size {
	font-size: 1.2rem;
}

.is-large-text,
.has-large-font-size {
	font-size: 1.44rem;
	line-height: 1.125;
}

.is-larger-text,
.has-larger-font-size,
.has-huge-font-size {
	font-size: 1.728rem;
	line-height: 1.125;
}

.site-header {
	margin: 16px 16px 64px 16px;
	display: flex;
	justify-content: start;
}

.site-title {
	display: inline-block;
	margin-right: 32px;
	line-height: 1;
}

.site-title a {
	color: currentColor;
	font-family: inherit;
	font-weight: inherit;
}

.site-title a:link, .site-title a:visited {
	color: currentColor;
}

.site-title a:hover {
	color: currentColor;
}

.main-navigation {
	max-width: 320px;
	width: 100%;
	margin-top: 0;
}

/* menus */
.main-navigation ul.menu {
	margin: 0;
	list-style-type: none;
	padding-right: 8px;
}

.main-navigation ul.menu li {
	display: inline-block;
}

.main-navigation a {
	display: block;
	font-size: 0.8888rem;
	font-weight: normal;
	padding: 0 0 0 16px;
}

#searchform > div:nth-child(1) {
	display: flex;
}

.site-info {
	color: var(--color-footer);
	font-family: var(--system-font);
	font-size: 0.60rem;
}

@media only screen and (min-width: 560px) {
	.site-info {
		order: 1;
		flex: 1 0 50%;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.site-info .site-name {
	font-weight: bold;
}

.widget-area a,
.author-bio a,
.site-info a {
	color: var(--color-footer);
	fill: var(--color-footer);
}

.widget-area a:visited,
.author-bio a:visited,
.site-info a:link, .site-info a:visited {
	color: var(--color-footer);
	fill: var(--color-footer);
}

.widget-area a:hover,
.author-bio a:hover,
.site-info a:hover {
	color: var(--color-hover);
	fill: var(--color-footer);
}

li.wp-social-link {
	margin-right: 1.0rem;
}

.page-header {
	margin: 0;
}

ul.post-list {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

li.entry-title {
	margin-bottom: 4px;
	padding-bottom: 4px;
	border-bottom: 1px dotted #999999;
}

/* Home */

.filter-list {
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 4px 0;
	margin-top: -16px;
	margin-bottom: 16px;
	font-size: 0.8rem;
	font-family: var(--system-font);
}
.filter-list span {
	margin: 0 0.5rem;
}

.filter-list span.selected {
	font-weight: bold;
}

span.posted-on {
	color: #999999;
	display: inline-block;
	margin: 0;
	font-size: 0.8rem;
}

.footer-navigation {
	display: inline;
}

@media only screen and (min-width: 560px) {
	.footer-navigation {
		flex: 1 0 50%;
		order: 2;
		margin-top: 0;
		margin-bottom: 0;
		text-align: right;
	}
}

.footer-navigation > div {
	display: inline;
}

.footer-navigation .footer-menu {
	color: #666666;
	padding-left: 0;
	margin-left: -16px;
	margin-right: -16px;
}

@media only screen and (min-width: 560px) {
	.footer-navigation .footer-menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
}

.footer-navigation .footer-menu li {
	display: inline;
}

.footer-navigation .footer-menu a {
	font-family: var(--system-font);
	font-size: 0.8333rem;
	font-weight: normal;
	padding: 16px;
	color: currentColor;
}

.footer-navigation .footer-menu a:link, .footer-navigation .footer-menu a:visited {
	color: currentColor;
}

.footer-navigation .footer-menu a:hover {
	color: var(--color-hover);
}

.comment-meta,
.entry-meta,
.entry-footer {
	color: #767676;
	clear: both;
	float: none;
	font-size: 0.7778rem;
	display: block;
}

.entry-meta > span,
.entry-footer > span {
	display: inline-block;
	margin-right: 16px;
}

.entry-meta > span:last-child,
.entry-footer > span:last-child {
	margin-right: 0;
}

.entry-meta > span .published + .updated,
.entry-footer > span .published + .updated {
	display: none;
}

.comment-meta a,
.entry-meta a,
.entry-footer a {
	color: currentColor;
}

.comment-meta a:hover,
.comment-meta a:active,
.entry-meta a:hover,
.entry-meta a:active,
.entry-footer a:hover,
.entry-footer a:active {
	color: var(--color-hover);
}

.entry-meta .svg-icon,
.entry-footer .svg-icon {
	fill: currentColor;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

/**
 * Entry Content
 */
.entry-content p {
	word-wrap: break-word;
}

.entry-content a {
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
	text-decoration-skip: objects spaces;
}

.entry-content li {
	margin-bottom: 0.0rem;
}

.entry-content ol {
	padding-left: 1.3rem;
	margin-left: 1.3rem;
}

.entry-content ol li {
	margin-bottom: 4px;
}

.entry-content .more-link {
	display: inline;
	color: inherit;
}

.entry-content .more-link:after {
	content: "\02192";
	display: inline-block;
	margin-left: 0.5em;
}

.entry-content .more-link:hover {
	text-decoration: none;
}

.entry-content > iframe[style] {
	margin: 32px 0 !important;
	max-width: 100% !important;
}

/* Next/Previous navigation */
.post-navigation .meta-nav {
	font-family: var(--system-font);
	font-size: 0.8rem;
}

.post-navigation .post-title {
	font-family: var(--system-font);
	font-size: 1.0rem;
	line-height: 1.0;
}

.post-navigation .nav-links a {
	color: var(--color-main);
	opacity: 0.5;
}

.post-navigation a:hover {
	color: var(--color-hover);
	opacity: 1.0;
}

.post-navigation .nav-next,
.post-navigation .nav-previous {
	margin-top: 32px;
	margin-bottom: 32px;
}

.post-navigation .nav-next:first-child,
.post-navigation .nav-previous:first-child {
	margin-top: 0;
}

.post-navigation .nav-next:last-child,
.post-navigation .nav-previous:last-child {
	margin-bottom: 0;
}

.pagination .nav-links {
	justify-content: start;
	margin: 32px -12px;
	padding: 4px;
	background-color: #FFFFDD;
}

.pagination .nav-links > * {
	font-family: var(--system-font);
	font-size: 1.2rem;
	font-weight: 600;
	padding-left: 12px;
	padding-right: 12px;
}

.pagination .nav-links .svg-icon {
	display: inline-block;
	vertical-align: middle;
}

@media only screen and (min-width: 480px) {
	.nav-links {
		display: flex;
		justify-content: space-between;
	}
	.nav-links .nav-next,
	.nav-links .nav-previous {
		flex: 0 1 auto;
		margin-bottom: inherit;
		margin-top: inherit;
		max-width: calc(50% - 8px);
	}
	.nav-links .nav-next {
		text-align: right;
	}
}

.author-bio {
	max-width: 360px;
	color: #CCCCCC;
	margin-bottom: 2.0rem;
}

.author-bio img {
	width: 128px;
	height: 128px;
	border-radius: 64px;
	margin: 0 1.5rem 1.5rem 0;
	float: left;
}

.widget-area h5,
.author-bio h3 {
	color: var(--color-footer);
	display: inline-block;
}

.author-bio p {
	text-align: justify;
}


.widget-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 32px 16px;
}

.widget-section {
	max-width: 360px;
	margin: 0 32px;
}

.widget {
    margin-bottom: 32px;
}

.widget h5 {
    margin-bottom: 8px;
}

.widget .profile {
    display: flex;
    align-items: center;
}

.widget .profile .photo {
    margin-right: 8px;
}

.widget .profile .photo img {
    width: 72px;
    height: 72px;
    border-radius: 36px;
}

.widget .profile .name {
    font-weight: 700;
}

h1.page-title {
	font-size: var(--h1-size);
	margin: 0 0 2.0rem 0;
}

h5.page-title {
	margin-bottom: 32px;
}

article {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 32px;
	margin-bottom: 32px;
}

article .entry-header {
	margin: 0;
}

article .entry-meta {
	margin: 8px 0 0 0;
}

article .entry-footer {
	margin: 0;
}

body.single article .entry-header {
	margin-bottom: 1.0rem;
}

body.single article .entry-title {
	margin: 0;
}

.data-table {
    font-size: 0.85rem;
}

.follow-block,
.follow-header h2,
.widget h5,
h5.page-title,
.edit-link,
.comments-title,
.comment-reply-link {
	font-family: var(--system-font);
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

.comments-area {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #CCCCCC;
  word-wrap: break-word;
}

.comments-area > * {
  margin-top: calc(2 * 1rem);
  margin-bottom: calc(2 * 1rem);
}

.comments-area .comments-title-wrap .comments-title {
  margin: 0;
}

#comment {
  max-width: 100%;
  box-sizing: border-box;
}

#respond {
  position: relative;
}

#respond .comment-user-avatar {
  margin: 1rem 0 -1rem;
}

#respond .comment .comment-form {
  padding-left: 0;
}

#respond > small {
  display: block;
  font-size: 18px;
  position: absolute;
  left: calc(1rem + 100%);
  top: calc(-3.5 * 1rem);
  width: calc(100vw / 12);
}

#comments > .comments-title:last-child {
  display: none;
}

.comment .says {
	display: none;
}

.comment-form-flex {
  display: flex;
  flex-direction: column;
}

.comment-form-flex .comments-title {
  display: none;
  margin: 0;
  order: 1;
}

.comment-form-flex #respond {
  order: 2;
}

.comment-form-flex #respond + .comments-title {
  display: block;
}

.comment-list {
  list-style: none;
  padding: 0;
}

.comment-list .children {
  margin: 0;
  padding: 0 0 0 2rem;
}

.comment-list > .comment:first-child {
  margin-top: 0;
  border-top: none;
}

.comment-list .pingback .comment-body,
.comment-list .trackback .comment-body {
  color: #767676;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Charcoal, Futura, sans-serif;
  font-size: 0.71111em;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.comment-list .pingback .comment-body a:not(.comment-edit-link),
.comment-list .trackback .comment-body a:not(.comment-edit-link) {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  padding-right: 0.5rem;
  display: block;
}

.comment-list .pingback .comment-body .comment-edit-link,
.comment-list .trackback .comment-body .comment-edit-link {
  color: #767676;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Charcoal, Futura, sans-serif;
  font-weight: 500;
}

#respond + .comment-reply {
  display: none;
}

.comment-reply .comment-reply-link {
  display: inline-block;
}

.comment {
  list-style: none;
  position: relative;
  margin-top: 1rem;
  border-top: 1px dashed #CCCCCC;
}

.comment .comment-body {
  margin: 2rem 0 0;
}

.comment .comment-meta {
  position: relative;
  display: inline-block;
}

.comment .comment-author .avatar {
  float: left;
  margin-right: 1rem;
  position: relative;
}

.comment .comment-author .fn {
  position: relative;
  display: block;
}

.comment .comment-author .fn a {
  color: inherit;
}

.comment .comment-author .fn a:hover {
  color: red;
}

.comment .comment-author .post-author-badge {
  border-radius: 100%;
  display: block;
  height: 18px;
  position: absolute;
  background: #1978e5;
  right: calc(100% - 2.5rem);
  top: -3px;
  width: 18px;
}

.comment .comment-author .post-author-badge svg {
  width: inherit;
  height: inherit;
  display: block;
  fill: white;
  transform: scale(0.875);
}

.comment .comment-metadata > a,
.comment .comment-metadata .comment-edit-link {
  display: inline;
  font-weight: 500;
  color: #767676;
  vertical-align: baseline;
}

.comment .comment-metadata > a time,
.comment .comment-metadata .comment-edit-link time {
  vertical-align: baseline;
}

.comment .comment-metadata > a:hover,
.comment .comment-metadata .comment-edit-link:hover {
  color: red;
  text-decoration: none;
}

.comment .comment-metadata > * {
  display: inline-block;
}

.comment .comment-metadata .edit-link-sep {
  color: #767676;
  margin: 0 0.2em;
  vertical-align: baseline;
}

.comment .comment-metadata .edit-link {
  color: #767676;
}

.comment .comment-metadata .edit-link svg {
  transform: scale(0.8);
  vertical-align: baseline;
  margin-right: 0.1em;
}

.comment .comment-metadata .comment-edit-link {
  position: relative;
  padding-left: 1rem;
  margin-left: -1rem;
  z-index: 1;
}

.comment .comment-metadata .comment-edit-link:hover {
  color: #1565C0;
}

.comment .comment-content {
  margin: 1rem 0;
}

.comment .comment-content > *:first-child {
  margin-top: 0;
}

.comment .comment-content > *:last-child {
  margin-bottom: 0;
}

.comment .comment-content blockquote {
  margin-left: 0;
}

.comment .comment-content a {
  text-decoration: underline;
}

.comment .comment-content a:hover {
  text-decoration: none;
}

.comment-reply-link,
#cancel-comment-reply-link {
  font-weight: 500;
}

.comment-reply-link:hover,
#cancel-comment-reply-link:hover {
  color: red;
}

.discussion-avatar-list {
  content: "";
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.discussion-avatar-list li {
  position: relative;
  list-style: none;
  margin: 0 -8px 0 0;
  padding: 0;
  float: left;
}

.discussion-avatar-list .comment-user-avatar img {
  height: calc(1.5 * 1rem);
  width: calc(1.5 * 1rem);
}

.discussion-meta .discussion-meta-info {
  margin: 0;
}

.discussion-meta .discussion-meta-info .svg-icon {
  vertical-align: middle;
  fill: currentColor;
  transform: scale(0.6) scaleX(-1) translateY(-0.1em);
  margin-left: -0.25rem;
}

.comment-form .comment-notes,
.comment-form label {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Charcoal, Futura, sans-serif;
  font-size: 0.71111em;
  color: #767676;
}

.comment-form input[name="author"],
.comment-form input[name="email"],
.comment-form input[name="url"] {
  display: block;
  width: 100%;
}

.wp-block-group.has-background {
	padding: 8px 30px 16px 30px;
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-group.has-background h2,
.wp-block-group.has-background h3 {
	margin-top: 1.0rem;
}

/* added here to avoid extra css file load */
.wp-block-a8c-bauhaus-centenary { padding: 2rem 0; display: flex; flex-direction: column; justify-content: center; text-align: center; border-radius: 4px; }
.wp-block-a8c-bauhaus-centenary .forms, .wp-block-a8c-bauhaus-centenary .year, .wp-block-a8c-bauhaus-centenary .ribbon { padding: 0 2rem; }
.wp-block-a8c-bauhaus-centenary .forms { display: flex; justify-content: center; align-content: center; }
.wp-block-a8c-bauhaus-centenary .forms svg { width: auto; margin-right: 1rem; }
.wp-block-a8c-bauhaus-centenary .ribbon { display: flex; }
.wp-block-a8c-bauhaus-centenary .ribbon svg { height: 100%; }
.wp-block-a8c-bauhaus-centenary .ribbon svg:first-child { flex-grow: 0; }
.wp-block-a8c-bauhaus-centenary .ribbon svg:last-child { flex-grow: 1; }
.wp-block-a8c-bauhaus-centenary.alignfull { border-radius: 0; }
.wp-block-a8c-bauhaus-centenary.alignfull .ribbon { padding: 0; }
.wp-block-a8c-bauhaus-centenary.alignfull .ribbon svg:first-child { flex-grow: 1; }
.wp-block-a8c-bauhaus-centenary.alignfull .ribbon svg:last-child { flex-grow: 3; }

